.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  max-width: 400px;
  margin: 40px auto;
  background: rgb(204, 101, 4);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgb(246, 250, 5);
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.descripcion {
  margin-bottom: 15px;
}

.contacto {
  margin-bottom: 20px;
  font-weight: bold;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: #000000f6;
  font-weight: bold;
}

/* --- */

.link-card {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px;
  background: rgb(27, 29, 151);
  color: rgb(241, 245, 238);
  border-radius: 8px;
  text-decoration: none;
}
/* 
.link-card:hover {
  background: #0056b3;
} */

.card ul {
  text-align: left;
  margin-top: 10px;
}

.card li {
  margin-bottom: 8px;
}